import { Upsert{className}DTO } from "app/server-models/DTO/Upsert{className}DTO";

export interface IPresentableUpsert{className} {
    {camelCaseClassName}: Upsert{className}DTO;
    dialogTitle: string;
}