import { TEMPLATE_PATH_BASE_AREAS } from "app/shared/constants/template-paths.const";

export const TEMPLATE_PATH_{componentNameConstantCased}_UI =
    `{currentpath}/{componentNameKebabCased}.ui.html`;
export const TEMPLATE_PATH_{componentNameConstantCased}_CONTAINER =
    `{currentpath}/{serviceFileName}.container.html`;

export const {serviceNameConstantCased}_SERVICE_NAME = "{serviceName}Service";
export const PAGE_TITLE_{componentNameConstantCased} = "PAGE_TITLE_{componentNameConstantCased}";