describe("llq-{componentNameKebabCased}", () => {
    let component: {namespace}.{className}Controller;
    let $componentController: ng.IComponentControllerService;
    let scope: ng.IScope;

    beforeEach(angular.mock.module({appname}));

    beforeEach(inject((
        _$componentController_: ng.IComponentControllerService,
        _$rootScope_: ng.IRootScopeService
        ) => {
        $componentController = _$componentController_;
        $rootScope = _$rootScope_;
        scope = $rootScope.$new();

        component = $componentController<{namespace}.{className}Controller, {namespace}.I{className}ControllerBindings>(
            {namespace}.{className}Controller.componentName, { $scope: scope }, {});    
    }));

    describe("componentName", () => {
        it("should return llq{className}", () => {
            let result = {namespace}.{className}Controller.componentName;
            expect(result).toBe("llq{className}");
        });
    });
})