describe("llq-{componentNameKebabCased}", () => {
    let $componentController: ng.IComponentControllerService;
    let $rootScope: ng.IRootScopeService;

    let component: {className}Controller;
    let scope: ng.IScope;

    beforeEach(angular.mock.module({appname}));

    beforeEach(inject((
        _$componentController_: ng.IComponentControllerService,
        _$rootScope_: ng.IRootScopeService
        ) => {
        $componentController = _$componentController_;
        $rootScope = _$rootScope_;
        scope = $rootScope.$new();

        component = $componentController<{className}Controller, I{className}ControllerBindings>(
            {className}Controller.componentName, { $scope: scope }, {});
    }));

    describe("componentName", () => {
        it("should return llq{className}", () => {
            let result = {className}Controller.componentName;
            expect(result).toBe("llq{className}");
        });
    });
});