describe("{providerName}", () => {

    let {providerNameCamelCased}: {providerName}Provider;
    let $injector: ng.auto.IInjectorService;

    beforeEach(angular.mock.module({appname}));

    beforeEach(inject((
        _$injector_: ng.auto.IInjectorService
    ) => {
        $injector = _$injector_;
        {providerNameCamelCased} = $injector.get<{providerName}Provider>({providerNameConstantCase}_PROVIDER_NAME);
    }));

    describe("", () => {
        it("should ", () => {

        })
    })
});