import angular from "angular";

import { LLQAPP_NAME } from "app/shared/constants/application.const";

export const {serviceNameConstantCase}_SERVICE_NAME = "{serviceName}Service";

/**
 *   Class for service {serviceName}
 */
export class {serviceName}Service {
    public static $inject = [
    ];

    constructor() {
    }
}
angular.module({appname}).service({serviceNameConstantCase}_SERVICE_NAME, {serviceName}Service);
